*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedorGeneral{
    width: 100%;
    min-height: 100vh;
    padding: 50px;
}
.app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background-color: rgb(37, 150, 199);
    border-radius: 50px;

}
.app h1{
    padding-left: 20px;
    padding-bottom: 5px;
    font-style: oblique;
    text-decoration: underline;
}
.contenedorInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 5px;
}
#contenedor-tareas{
    padding-left: 20px;
    list-style: none;
    user-select: none;
    line-height: 2em;

}
.boton-borrar {
    margin-left: 10px;
    padding: 2px 5px;
    border: none;
    cursor: pointer;
}


